* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
  .up {
    position: fixed;
    bottom: 30px;
    right: -90px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s;
  }
  .up img {
    width: 80px;
  } 
  .up i {
    font-size: 50px;
  }
  .show {
  right: 10px;
}

.nav {
  
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.icon_nav {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon_nav img {
  width: 50px;
}
header {
  border: 1px solid black;
  color: white;
  /* padding: 30PX; */
  height: 95vh;
  background-image: url(imges/header\ img.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.header-text {
  width: 800px;
  margin-top: 70px;
  margin-left: 40px;}

.header-text p {
  font-size: 30px;
}

.header-text h1 {
  font-size: 70px;
}
.horizental_heder {
  width: 50%;
}
.horizental_heder::after {
  content: '  ';
  position: absolute;
  height: 3px;
  width: 30%;
  background-color: #ffb712;
  text-align: center;
}






.first h1 {
  text-align: center;
  font-size: xx-large;
  position: relative;
}
.horizental {
  margin: auto;
}
.horizental_child {
  margin: auto;
  width: 20%;

}
  .horizental_child::after {
  content: '  ';
  position: absolute;
  height: 3px;
  width: 10%;
  background-color: #ffb712;
  text-align: center;
}

.first-one {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.first-one .img {
	width: 30%;
}
.img img {
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
}

.text-first {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.text-first span {
	font-size: 21px;
	color: rgb(82, 81, 81);
}
.text-first h3 {
	font-size: 25px;
	color: rgb(50, 47, 47);
}
.second {
  /* height: 45vh; */
  margin-top: 80px;
  background-color: #1b1a1a;
  background-image: url(imges/mt-1354-home-arrows4_1.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
  background-blend-mode: color-dodge;
  padding: 2rem;
}

.second h1 {
  text-align: center;
  font-size: xx-large;
  color: white;
  padding-top: 50px;
}
.flex_second {
	width: 90%;
	margin: auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
	display: flex;
	justify-content: space-between;
  align-items: center;
}
.child_second img {
	width: 50px;
}
.child_second {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}

.child_second h2 {
  margin-top: 5px;
  color: white;
}

.child_second p {
  color: grey;
}

.third {
  margin: 50px;
}

.third h1 {
  text-align: center;
  font-size: xx-large;
}
.text_gallary {
  margin-bottom: 30px;
}

.flex1 {
	display: flex;
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
  align-items: center;
	/* gap: 20px; */
} 
.flex1 .img {

	margin: auto;
	width: 350px;
	/* gap: 10px; */
}
.flex1 .img img {
  width: 100%;
}

.forth {
  margin-bottom: 200px;
  background-color: #1b1a1a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(imges/mt-1354-home-arrows4_1.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
  background-blend-mode: color-dodge;
}

.forth h1 {
  text-align: center;
  font-size: 46px;
  font-style: bold;
  color: white;
  padding-top: 2rem;
}

.horizental {
  max-width: 55%;
}

.forth .row {
  width: 95%;
  margin: auto;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.forth p {
  color: #989696;
}

.forth .phone p {
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.forth .phone p:hover {
  color: #ffb712;
  cursor: pointer;
}

.forth a {
  text-decoration: none;
  color: #989696;
  transition: all 0.3s ease-in-out;
}

.forth a:hover {
  color: #ffb712;
}

footer {
  background-color: #1b1a1a;
  padding: 15px;
  margin-top: 10px;
}

footer .row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

footer span {
  display: block;
  color: #989696;
}

footer p {
  color: #989696;
}

footer p a {
  text-decoration: none;
  color: #989696;
  transition: all 0.3s ease-in-out;
}
footer .links img {
width: 50px;
}

footer p a:hover {
  color: #ffb712;
}
@media (max-width: 768px) {
  .header-text {
    width: 70%;
  }
  .header-text h1 {
    font-size: 50px;
  }
  .header-text p {
    font-size: 40px;
  }
}
@media (max-width: 650px) {
  .header-text h1 {
    font-size: 40px;
  }
  .header-text p {
    font-size: 30px;
  }
  .first-one {
    flex-direction: column;
  }
  .first-one .img {
    margin: auto;
    width: 300px;
  }
  .img img {
    width: 100%;
  }
  .text-first {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
  }
  
  .flex_second {
		flex-direction: column;
		gap: 20px;
	}
	.child_second {
		margin: auto;
		width: 55%;
	}
  
  .forth .row {
    flex-direction: column;
  }
  footer .row {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }
  footer .logo {
    margin-bottom: 20px;
  }
  footer .logo img {
    width: 55%;
  }
  footer .links {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  .nav .logo {
    margin: auto;
  }
  .icon_nav {
    margin: auto;
  }
  .nav {
    flex-direction: column;
    text-align: center;
  }
  .header-text {
    width: 350px;
  }
  .forth .row {
    flex-direction: column;
  }
  footer .row {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }
  footer .logo {
    margin-bottom: 20px;
  }
  footer .links {
    margin-top: 20px;
  }
}
@media (max-width: 407px) {
  .header-text {
    width: 330px;
  }
  .first-one img {
    width: 150px;
    /* height: 200px; */
  }
  .text-first {
    width: 200px;
  }
  .first-one {
    flex-direction: column;
  }
  .first-one .img {
    margin: auto;
    width: 300px;
  }
  .img img {
    width: 100%;
  }
  .text-first {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 85%;
  }
}
@media (max-width: 370px) {
  .header-text {
    width: 100%;
  }
  
}
